@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-hidden;
}

header li {
  @apply p-1 px-3 text-white font-medium text-lg cursor-pointer hover:bg-gray-100/30 rounded-md m-2;
}

#window {
  @apply mx-auto mt-10 rounded-full w-96 h-96;
  box-shadow: 20px 20px 60px #30a1d3, -20px -20px 60px #40d9ff;
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

#todayDiv {
  @apply flex flex-row justify-center flex-wrap;
}

article {
  @apply justify-center mx-16  my-8 w-40 bg-sky-500/50 rounded-md text-white font-medium text-center flex flex-col overflow-hidden;
  box-shadow: 20px 20px 60px #30a1d3, -20px -20px 60px #40d9ff;
}

article h1 {
  @apply text-lg p-3 bg-sky-600;
}

article h2 {
  @apply pt-3;
}

article p {
  @apply pb-3;
}

article img {
  @apply w-32 mx-auto;
}
